
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <!--/usuario/cretate?UsuarioId=3&Nome=Beltrano-->
        <form action="/usuario/create" method="post">

            <label>UsuarioID</label>
            <input type="number" name="UsuarioID"  required min="0"/> <br /> <br />

            <label>Nome</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="Nome" required/> <br /> <br />

            <label>Email</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="email" name="Email" required /> <br /> <br />

            <label>Senha</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password" name="Senha" required/> <br /> <br />

            <button type="submit">Salvar</button> <br /> <br />
        </form> 
    </div>
</body>
</html>
